{% extends "base.html" %}

{% block title %}{{ block.super }} |  {{ thispage }}  {% endblock %}

{% block nav %}
	{% for p in pages %}
		{% if p.name == thispage %}
			<li class="active"><a href="{{ p.url }}">{{ p.name }}</a></li>
		{% else %}
			<li><a href="{{ p.url }}">{{ p.name }}</a></li>
		{% endif %}
	{% endfor %}
{% endblock nav %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<h1>About {{ proj_name }}</h1>
	<h2>A project primarily for learning html 5 and doing something fun</h2>
	<hr>
  <p>
    My friends and I have decided to develop this game which we frequently play.
    Its called the Black Queen. Currently we are just getting to grips with Google Apps Engine and Django in general.
    Hope to have something up soon. 
  </p>
  <p>
    This site has been set up following the instructions from <a href="http://hackpack.decisioncandy.com/">here</a>
	{% for i in 0123456789|make_list %}	
		<br>
	{% endfor %}
   </p>
    <p>
    Special thanks to <a href="#" 
              rel="popover" id='123' data-placement="above" title="{{ originalAuthor.name }}"
              data-content="
                <img src='{{ originalAuthor.picture }}' style='max-width:100%;'>
                <p>{{ originalAuthor.blurb }}</p>
                <p>You can email me at {{ originalAuthor.email }}</p>
            ">{{ originalAuthor.name}}</a> for his efforts
  </p>
</div>
  <script>
  $(function ()  
{ 
  var twoptions = {'html':true};
  $("#123").popover(twoptions);
 });
  </script>
{% endblock content %}
