{% extends "base.html" %}

{% block title %}{{ block.super }} | {{ thispage }} {% endblock %}

{% block nav %}
	{% for p in pages %}
		{% if p.name == thispage %}
			<li class="active"><a href="{{ p.url }}">{{ p.name }}</a></li>
		{% else %}
			<li><a href="{{ p.url }}">{{ p.name }}</a></li>
		{% endif %}
	{% endfor %}
{% endblock nav %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div>
	<h2>{{ proj_name }}</h2>
	<h3>{{ proj_description }}</h3>
	<p>
	{% for i in 0123456789|make_list %}	
		<br>
	{% endfor %}
	<h4>work in progress, come back soon</h4>	
	{% for i in 0123456789|make_list %}	
		<br>
	{% endfor %}
	</p>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}